In [1]:
import pandas as pd
df = pd.read_csv("DBS_SingDollar.csv")
df

     Unnamed: 0        Date    DBS      SGD
0             1   6/20/2017  20.45  1.38925
1             2   6/19/2017  20.60  1.38707
2             3   6/16/2017  20.45  1.38324
3             4   6/15/2017  20.41  1.38378
4             5   6/14/2017  20.59  1.37595
..          ...         ...    ...      ...
117         118  12/30/2016  17.09  1.44655
118         119  12/29/2016  17.13  1.44814
119         120  12/28/2016  17.22  1.45018
120         121  12/27/2016  17.19  1.44954
121         122  12/23/2016  17.14  1.44766

[122 rows x 4 columns]

In [2]:
X = df.loc[:,["SGD"]]
Y = df.loc[:,['DBS']]
print(X)

         SGD
0    1.38925
1    1.38707
2    1.38324
3    1.38378
4    1.37595
..       ...
117  1.44655
118  1.44814
119  1.45018
120  1.44954
121  1.44766

[122 rows x 1 columns]

In [3]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X,Y)
pred = model.predict(X)

In [4]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(Y,pred)**0.5
print(rmse)

0.6283698867042165

In [5]:
#save model
import joblib
joblib.dump(model,'dbs.jl')

['dbs.jl']

In [6]:
#load model
model = joblib.load('dbs.jl')

In [7]:
model.coef_

array([[-50.60094302]])

In [8]:
model.intercept_

array([90.22858515])

In [9]:
p = model.predict([[1.35]])

/home/weeinn2025/miniconda3/envs/ml/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [10]:
p

array([[21.91731207]])